@import url('https://fonts.googleapis.com/css?family=Roboto|Sedgwick Ave Display|Pacifico&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

/* Containers */

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

.quotes-container{
    position: relative;
    padding-bottom: 85px;
    
}

#bg-outer {
height:100vh;
width:100%;   
overflow:hidden;
position: relative;
}
.callout-container {
    height: 100vh;
    background: url('../images/pic1.jpeg') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    animation-name:bg-zoom;
    animation-duration:5s;
    animation-fill-mode:forwards;
}
@keyframes bg-zoom{
    from{transform:scale(1);}
    to{transform:scale(1.1);}
}




/* Navbar */

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color:#f55f08;
    border: 0;
    
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

/* logo */

#logo {
font-family: 'Pacifico', cursive;
color:white;
float:left;
font-size:200%;
margin-left: 30px;
}
/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: white;
    font-weight: bold;
    font-family: 'Sedgwick Ave Display', cursive;
    margin-bottom: 10px;
    padding-top: 450px;
    letter-spacing: 2px;

}

/* Buttons */

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--red {
    color: green;
    background-color: #edf040;
    border-color: #f05f40;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #df4929;
    border-color: #df4929;
    color: white;
}

/* Alert */

.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert {
    color: #544600;
    background-color: #eec802;
    border-color: #eec802;
    padding: 5px 15px;
    margin-bottom: 0;
    border: 1px solid transparent;
    border-radius: 0;
}

/* Page Headers */

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
}

/* Quotes */

.quotes .page-header {
    margin-bottom: 25px;
    padding-top: 20px;
}

.quotes {
    font-family: 'Pacifico', cursive;
    background-color: #f596082c;
    
}

/* Features */

.feature {
    text-align: center;
    margin-bottom: 40px;
}

.feature i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}

.feature .btn {
    background-color: white;
    border-color: white;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
    color: #f05f40;
}
 /*--------------------------------------------Feature*/

 /*--------------------------------------------Footer*/

 footer {
     background-color: #f55f08;
     color:#fafafa;
     min-height: 120px;
     margin: 0;
 }


 .social-links {
     padding-bottom: 15px;
 }

 .social-links li a i {
     width:32px;
     height:32px;
     padding:12px 0;
     border-radius: 50%;
     font-size: 13px;
     line-height: 7px;
     text-align: center;
     color:#fafafa;
     background: #b80808;
     transition: all 0.35s ease-in-out;
     -moz-transition: all 0.35s ease-in-out;
     -webkit-transition: all 0.35s ease-in-out;
     -o-transition: all 0.35s ease-in-out;

 }

 .social-links li a i:hover {
     background: #f5c835;
 }

 #footer-details {
     padding:20px;
 }

 .general-sub{
     font-family: 'Pacifico', cursive;
 }

 /*--------------------------------------------Footer*/

 /*--------------------------------------------About*/
.callout-container-about{
    height: 80vh;
    background: url('../images/about.jpeg') no-repeat top right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-right: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    animation-name:bg-zoom;
    animation-duration:5s;
    animation-fill-mode:forwards;
}

.cover-text{
    font-family: 'Roboto',sans-serif;
    position:relative;
    padding-bottom: 20px;
    padding-top:20px;
    font-size:20px;
}
/*---------------------------------------------About*/

/*---------------------------------------------catering*/
.callout-container-catering{
    height: 90vh;
    background: url('../images/catering.jpeg') no-repeat top right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    animation-name:bg-zoom;
    animation-duration:5s;
    animation-fill-mode:forwards;
}
#photo {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 2px;
    display:table;
}
.album{
    float: left;
    width: 25%;
    padding: 5px;
    padding-bottom: 80px;
}


/*---------------------------------------------catering*/

/*---------------------------------------------contact*/


#form-details {
    background-color: rgba(0, 238, 255, 0.39);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.contact-details{
    margin-right: 0;
    padding-left:70px;
}

.contact-img img{
    float:right;
    width:700px;
    height:relative;
    margin-right:0;
    padding-top:100px;
    padding-left: 350px;
}

/*---------------------------------------------contact*/

 /*--------------------------------------------Mediaquery*/

@media(min-width:992px){
.center-form{
    padding-top: 30px;
    min-height: 240px;
    margin:0 auto;
    max-width:50%;
}  

@media screen and (max-width: 500px) {
  .album {
    width: 100%;
  }

/*--------------------------------------------Mediaquery*/